
@{
    ViewData["Title"] = "SendEmail";
}

<h1>Success!</h1>
<div>
    <p>
        The users have been moved to the next flight.
        Each of the users has received an email notifying them.
    </p>
</div>

