
@{
    ViewData["Title"] = "FeedbackAdminError";
}

<h1>Error</h1>
<br />
<h3>You can not leave a feedback because you are the administrator. :)</h3>

<a class="btn btn-success" asp-action="Index" asp-controller="Flight">Get to work!</a>

